@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', monospace;
}

.container-header {
    height: 80px;
    line-height: 80px;
}

.container1° {
    width: 100%;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0 20px 0 20px;
    z-index: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.Logo {
    vertical-align: middle;
}

.L {
    float: left;
}

.Button {
    background-color: blue;
    padding: 10px 15px;
    color: white;
}


.R {
    float: right;
}

.container-menu li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
}

.container-img-top {
    height: 850px;
    background-color: #b5d1e7;
}

.container-top-center {
    max-width: 80%;
    margin:auto;
}



.container-testo {
    padding-top: 70px;
}

.container-testo h1{
    font-size: 75px;
    margin-top: 50px;
}

.container-generale-text-img {
    height: 500px;
}

.container-testo-top-laterale {
    padding-top: 40px;
    max-height: 100px;
    max-width: 600px;
    font-size: large;
}

.center {
    width: 290px;
    position: relative;
    top: 80px;
}

.center a {
    text-align: center;
    color: white;
    
}

#Annulla {
    position: relative;
    top: 90px;
    width: 300px;
}

.fas {
    font-size: 300%;
    position: relative;
    top: 110px;
}

.fa-arrow-down:hover {
    cursor: pointer;
    box-shadow: 2px 2px #bcbcbc;
}

.container-img-right-out {
    float: right;
    width: 60%;
}


.container-img-right-out img {
    height:600px;
    background-size: cover;
    margin-top: -100px;
}

.container-main {
    height: 900px;
    margin-top: 200px;

}

.container-general-main {
    width: 70%;
    margin: auto;
}

.title-main h2 {
    text-align: center;
    font-size: 400%;
}

.container-radio {
    margin-top: 50px;
}

.container-radio input {
    margin-left: 10px;
}

.container-box {
    margin-top: 30px;
}

.top {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    padding: 10px 20px;
    float: left;
    margin-left: 3%;
    display: inline-block;
}

.box-left, .center-team, .right-team {
    width: 30%;
    border: 1px solid black;
    float: left;
    margin-left: 3%;
}

.box-left h3, .center-team h3, .right-team h3 {
    padding: 20px 20px 10px 20px;
}

.box-left strong, .center-team strong, .right-team strong{
    padding: 20px 0 0 20px;
}

.Mese {
    padding: 10px 0 0 20px;
    color: #86929d;
}

.options {
    height: 800px;
}

.user {
    padding: 20px 0 0 0;
}

.user, .folder, .pencil {
    padding-bottom: 20px;
    padding-left: 20px;
}

.Offerte {
    text-align: center;
    width: 90%;
    margin: auto;
}

.Offerte a{
    color: white;
}

.link-acquista {
    padding: 20px 0 20px 20px;
}

.link-acquista a {
    color: blue;
}

.space {
    padding: 20px 320px 30px 20px;
}

.link-acquista a {
    text-decoration: underline;
}

.must-plane {
    width: 90%;
    margin: auto;
}

.must-plane h4 {
    font-size: 125%;
    padding-bottom: 20px;
}

.fa-check {
    color: blue;
}

.must-plane span {
    margin-right: 20px;
}


.pad {
    padding-top: 20px;
}

.box-inferiore {
    margin-top: 40px;
    margin-left: 3%;
    border: 1px solid black;
    text-align: center;
}