@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', monospace;
}

.container-header {
    max-height: 80px;
    line-height: 80px;
}

.container1° {
    width: 100%;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0 20px 0 20px;
    z-index: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.Logo {
    vertical-align: middle;
}

.L {
    float: left;
}

.Button {
    background-color: blue;
    padding: 10px 15px;
    color: white;
}


.R {
    float: right;
}

.container-menu li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
}

.container-img-top {
    min-height: 850px;
    background-color: #b5d1e7;
}

.container-top-center {
    max-width: 80%;
    margin:auto;
}



.container-testo {
    padding-top: 70px;
}

.container-testo h1{
    font-size: 75px;
    margin-top: 50px;
}

.container-generale-text-img {
    max-height: 500px;
}

.container-testo-top-laterale {
    padding-top: 40px;
    max-height: 100px;
    max-width: 600px;
    font-size: large;
}

.center {
    width: 290px;
    position: relative;
    top: 80px;
}

.center a {
    text-align: center;
    color: white;
    
}

#Annulla {
    position: relative;
    top: 90px;
    width: 300px;
}

.fas {
    font-size: 300%;
    position: relative;
    top: 110px;
}

.fa-arrow-down:hover {
    cursor: pointer;
    box-shadow: 2px 2px #bcbcbc;
}

.container-img-right-out {
    float: right;
    width: 60%;
}


.container-img-right-out img {
    max-height: 600px;
    margin-top: -150px;
}

.container-main {
    max-height: 900px;
    margin-top: 200px;

}

.container-general-main {
    width: 70%;
    margin: auto;
}

.title-main h2 {
    text-align: center;
    font-size: 400%;
}

.container-radio {
    margin-top: 50px;
}

.container-radio input {
    margin-left: 10px;
}

.container-box {
    width: 95%;
    margin: 30px auto 0 auto;
}

.top {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    padding: 10px 20px;
    float: left;
}

.center-top, .center-team {
    margin: 0 3% 0 5%;
}

.right {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    padding: 10px 20px;
    float: right;

}

.box-left, .center-team {
    width: 30%;
    border: 1px solid black;
    float: left;
}

.right-team {
    width: 30%;
    border: 1px solid black;
    float: right;
}

.box-left h3, .center-team h3, .right-team h3 {
    padding: 20px 20px 10px 20px;
}

.box-left strong, .center-team strong, .right-team strong{
    padding: 20px 0 0 20px;
}

.Mese {
    padding: 10px 0 0 20px;
    color: #86929d;
}

.options {
    height: 800px;
}

.user {
    padding: 20px 0 0 0;
}

.user, .folder, .pencil {
    padding-bottom: 20px;
    padding-left: 20px;
}

.Offerte {
    text-align: center;
    width: 90%;
    margin: auto;
}

.Offerte a{
    color: white;
}

.link-acquista {
    padding: 20px 0 20px 20px;
}

.link-acquista a {
    color: blue;
}

.space {
    padding: 20px 320px 30px 20px;
}

.link-acquista a {
    text-decoration: underline;
}

.must-plane {
    width: 90%;
    margin: auto;
}

.must-plane h4 {
    font-size: 125%;
    padding-bottom: 20px;
}

.fa-check {
    color: blue;
}

.must-plane span {
    margin-right: 20px;
}


.pad {
    padding-top: 20px;
}

.box-inferiore {
    border: 1px solid black;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.box-contattaci {
    padding-left: 20px;
    border-top: 1px solid black;
    text-align: left;
    position: relative;
}

.box-contattaci h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.box-contattaci h3 {
    padding-bottom: 20px;
}

.box-contattaci p {
    padding-bottom: 20px;
    font-size: 20px;
}

.box-contattaci a {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: blue;
    padding: 10px 80px;
    color: white;
}

.container-img {
    margin-top: 150px;
}

.img-left {
    float: left;
    margin-left: 80px;
}

.img-left img {
    Max-height: 500px;
}

.testo-right {
    float: right;
    width: 30%;
    margin-right: 80px;
    margin-top: 40px;
}

.testo-right h3 {
    font-size: 25px;
    margin-bottom: 80px;
    font-weight: 900;
}

.testo-right p {
    font-weight: 700;
}

.testo-right a {
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 40px;
    display: inline-block;
    color: black;
}

.box-operation {
    margin-top: 100px;
}

.container-6img {
   width: 30%;
   margin: 30px 20px;
   display: inline-block;
}

.container-6img img {
    width: 100%;
}

.container-6img h3 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 900;
}

.container-6img p {
    font-weight: 700;
    font-size: 20px;
}

 .container-6img span {
     text-decoration: underline;
 }

 .titolo-aziende {
    margin-top: 150px;
 }

 .titolo-aziende h2 {
     font-size: 70px;
     font-weight: 900;
 }

 .titolo-aziende a {
     text-decoration: underline;
     color: blue;
     margin: 50px 0;
     display: inline-block;
 }

.aziende-loghi {
    width: 35%;
    display: inline-block;
}

.aziende-center {
    width: 59%;
}

.aziende-loghi img {
    display: inline-block;
}

.square {
    width: 48%;
    height: 48x%;
    display: inline-block;
}

.square img {
    width: 100%;
    height: 360px;
    fill: white;
}

.designit img {
    background-color: #a3d29b;
    padding: 0 30px;
}

.arizona img {
    background-color: #60092b;
    padding: 100px 70px;
}

.florida img {
    background-color: #0192ce;
    padding: 160px 50px;
}

.topps img {
    background-color: #ff1c1c;
    padding: 140px 50px;
}

.aziende-center {
    background-color: #f5f5f5;
    display: inline-block;
    margin-left: -25px;
}

.aziende-center div {
    padding: 50px 0 50px 50px;
}

.aziende-center img {
    height: 50px;
}