@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.container-header {
    height: 80px;
    line-height: 80px;
}

.container1° {
    width: 100%;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0 20px 0 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.Logo {
    vertical-align: middle;
}

.L {
    float: left;
}

.Botton {
    background-color: blue;
    padding: 10px 15px;
    color: white;
}


.R {
    float: right;
}

.container-menu li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
}

.container-img-top {
    height: 700px;
    background-color: #b5d1e7;
}

.container-top-center {
    max-width: 80%;
    margin:auto;
}

.container-testo {
    padding-top: 70px;
}

.container-testo h1{
    font-size: 75px;
    margin-top: 50px;
}

.container-testo-top-laterale {
    padding-top: 40px;
    max-height: 100px;
    max-width: 600px;
    font-size: large;
}

.center {
    max-width: 290px;
    margin-top: 80px;
    text-align: center;
}

.center a {
    color: white;
}




